In [1]:
## Importing everything together to save time

import pandas as pd 
import numpy as np
import matplotlib as mp
import seaborn as sns
import math
import matplotlib.pyplot as plt
from datetime import date
%matplotlib inline
## %matplotlib notebook

Patients = pd.read_excel("HospitalDatabase.xlsx","Patients")
EDVisits = pd.read_excel("HospitalDatabase.xlsx","EDVisits")
AmbulatoryVisits = pd.read_excel("HospitalDatabase.xlsx","AmbulatoryVisits")
ReAdmissionRegistry = pd.read_excel("HospitalDatabase.xlsx","ReAdmissionRegistry")
Discharges = pd.read_excel("HospitalDatabase.xlsx","Discharges")
Providers = pd.read_excel("HospitalDatabase.xlsx","Providers")
EDUnique = pd.read_excel("HospitalDatabase.xlsx","EDUnique")
Merged = pd.merge(Patients, Discharges, on="PatientID")
Merged1= pd.merge## Q41. Find the visit type with maximum 'No Show'.

## Answer

#Linking the dataframe
AmbulatoryVisits = pd.read_excel("HospitalDatabase.xlsx","AmbulatoryVisits")

# Finding the visit type with maximun no shows
VisitType_noShow= AmbulatoryVisits['VisitType'].where(AmbulatoryVisits['VisitStatus'] =='No Show').dropna().max()

#Printing the result
print('The visit type with maximum no shows is:', VisitType_noShow)(Patients, ReAdmissionRegistry, on="PatientID", how="left")

In [146]:
## Q41. Find the visit type with maximum 'No Show'.

## Answer

#Linking the dataframe
AmbulatoryVisits = pd.read_excel("HospitalDatabase.xlsx","AmbulatoryVisits")

# Finding the visit type with maximun no shows
VisitType_noShow= AmbulatoryVisits['VisitType'].where(AmbulatoryVisits['VisitStatus'] =='No Show').dropna().max()

#Printing the result
print('The visit type with maximum no shows is:', VisitType_noShow)

The visit type with maximum no shows is: Telemedicine

In [147]:
## Q42. Using loc , get the details of the providers where providerId is between 11 and 20 
## and ProviderSpecialty is Surgery.

## Answer

#Linking the dataframe
Providers = pd.read_excel("HospitalDatabase.xlsx","Providers")

# Loc funtion is used for accessing multiple columns.
#Using it to give details of Surgery Providers with ID between 11 and 20
df1 = Providers.loc[(Providers["ProviderSpecialty"] == 'Surgery') & Providers["ProviderID"]. between(11,20)]

#Displaying the results
print (df1)

    ProviderID     ProviderName ProviderSpecialty     ProviderDateOnStaff
10          11     Kim Kimberly           Surgery 1998-05-10 14:47:29.468
11          12         Sarah Ab           Surgery 1998-08-18 05:22:40.762
12          13  Abigail Marriot           Surgery 1998-11-08 12:25:45.705
13          14          Dave Yu           Surgery 1999-06-26 16:18:57.436
14          15  Christian Saint           Surgery 2000-08-27 00:12:40.326
15          16     Perry Pardon           Surgery 2001-02-13 11:49:17.862

In [83]:
## Q43. In question 34, when the value is less than 6, print as -1,else print 99.

## Answer

#generate 2D array
arr=np.arange(1,31).reshape(6,5)

#iterate over rows & cols on the array
for i in range(arr.shape[0]):
 for j in range(arr.shape[1]):
     #if value<6, print -1
    if arr[i,j]<6:
        print(-1)
    # else print 99
    else:
        print(99)

-1
-1
-1
-1
-1
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99

In [71]:
## Q44. Create a pivot table displaying average LOS based on Service and Primary Diagnosis.

#Answer

#Linking with the dataframe
ReAdmissionRegistry = pd.read_excel("HospitalDatabase.xlsx","ReAdmissionRegistry")

#Creating the pivot table
pivot = np.round(pd.pivot_table(ReAdmissionRegistry, values='ExpectedLOS', 
                                index='Service', 
                                columns='PrimaryDiagnosis', 
                                aggfunc=np.mean),2)

#Displaying the pivot table
display(pivot)

# The result shows the pivot table displaying the Length of Stay of patients based on the type of service and primary diagnosis

PrimaryDiagnosis,AMI,Afib,Broken Leg,Diabetes,Fever,Flu,Heart Failure,Hip Fracture,Hypertension,Kidney Failure,Knee Replacement,Laceration,Migraine,Pain,Pneumonia,Spinal Cord Injury,Stroke
Service,,,,,,,,,,,,,,,,,
Cardiology,12.41,13.16,3.91,NaN,NaN,3.97,13.01,NaN,NaN,6.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN
General Medicine,NaN,NaN,3.37,5.67,6.80,6.14,NaN,NaN,5.37,5.94,NaN,6.77,NaN,NaN,6.14,NaN,7.17
Hospitalist,13.83,NaN,7.13,7.87,8.87,7.03,NaN,NaN,7.86,7.85,2.26,7.07,NaN,NaN,8.15,NaN,15.35
ICU,12.50,9.65,NaN,NaN,3.86,4.95,12.78,NaN,5.09,9.05,NaN,10.10,NaN,NaN,13.52,15.28,13.30
Neurology,10.48,NaN,NaN,NaN,NaN,6.70,12.74,NaN,4.28,NaN,NaN,NaN,12.2,11.44,7.53,NaN,12.75
Orthopeadics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.47,NaN,NaN,3.70,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
## Q45. Calculate mortality by diagnosis.

#Answer

#Linking to the dataframe
Discharges = pd.read_excel("HospitalDatabase.xlsx","Discharges")

#Filtering the patients that have Expired to calculate the mortality
df = Discharges
df1 = df.query("DischargeDisposition=='Expired'")

#Grouping the expired patients by Primary Diagnosis and counting them
df2 = df1.groupby(['DischargeDisposition', 'PrimaryDiagnosis']).count()

#Displaying the analysis
df2[df2.columns[1:2]]

                                         PatientID
DischargeDisposition PrimaryDiagnosis
Expired              AMI                         6
                     Afib                        4
                     Broken Leg                  3
                     Diabetes                    9
                     Fever                       4
                     Flu                        11
                     Heart Failure              16
                     Hip Fracture                3
                     Hypertension               16
                     Kidney Failure              2
                     Knee Replacement            2
                     Laceration                  2
                     Pain                        1
                     Pneumonia                  16
                     Spinal Cord Injury          2
                     Stroke                      7

In [89]:
## Q46. Write a code to split a sentence into words using regex.

#Answer

# Code to split the sentence into words using regex
import re
split_string = "This is Team 3 and we are called Panda Girls"
word_list = re.split(r"\s+", split_string)

#Printing the result
print(word_list)

['This', 'is', 'Team', '3', 'and', 'we', 'are', 'called', 'Panda', 'Girls']

In [6]:
## Q47. Using indexing , loc to retrieve the row with maximum BloodPressureSystolic.

## Answer

# Linking the dataframe
AmbulatoryVisits = pd.read_excel("HospitalDatabase.xlsx","AmbulatoryVisits")

#Retrieving the row with maximum Systolic BP
AmbulatoryVisits.loc[AmbulatoryVisits['BloodPressureSystolic'].idxmax()]

# There are 7 rows with the Systolic Blood Pressure as 190.0. Since the question specifies row
# and not row(s), only one row is retrieved.

VisitID                                          933
PatientMRN                                       884
ProviderID                                        27
DateofVisit                      2019-02-14 00:00:00
DateScheduled             2019-01-22 19:26:49.163000
VisitDepartmentID                                 12
VisitType                               Telemedicine
BloodPressureSystolic                          190.0
BloodPressureDiastolic                    143.989174
Pulse                                      74.976879
VisitStatus                                Completed
Name: 236, dtype: object

In [130]:
## Q48. Display the average LOS based on Service and Discharge Disposition(Maintain the column Hierarchy).

#Linking to the dataframe
Discharges = pd.read_excel("HospitalDatabase.xlsx","Discharges")

# Setting the index to maintain column hierarchy according to the dataset
df = Discharges
df.set_index(['DischargeDisposition','Service', 'ExpectedLOS'])

#Using the pivot table to calculate average Length of Stay 
#based on Service and Discharge Disposition
pivot = np.round(pd.pivot_table(Discharges, values='ExpectedLOS', 
                                index='Service', 
                                columns='DischargeDisposition', 
                                aggfunc=np.mean),2)

#Displaying the pivot table
display(pivot)

DischargeDisposition  Expired   Home  Transfer
Service
Cardiology               9.20  12.86     11.82
General Medicine         5.87   6.11      6.12
Hospitalist              6.78   8.01      5.70
ICU                      9.92  13.45     11.99
Neurology                9.38  12.54     11.47
Orthopeadics             3.94   3.51      4.84

In [43]:
## Q49. Retrieve the count of patients who are prone to hypertension crisis. (SBP>180 & DBP>120)

#Linking with the dataframe
df = pd.read_excel("HospitalDatabase.xlsx","AmbulatoryVisits")

#Listing the patient details who are prone to hypertension crisis
List_Patients = AmbulatoryVisits[(AmbulatoryVisits['BloodPressureSystolic']>180)&(AmbulatoryVisits['BloodPressureDiastolic']>120)]
display(List_Patients)

#Counting the patients who are prone to hypertension crisis
Count_Patients = AmbulatoryVisits[(AmbulatoryVisits['BloodPressureSystolic']>180)&(AmbulatoryVisits['BloodPressureDiastolic']>120)].count()
print(Count_Patients)

# There are 101 patients with SBP >180 and DBP>120 who are prone to hypertension crisis

,VisitID,PatientMRN,ProviderID,DateofVisit,DateScheduled,VisitDepartmentID,VisitType,BloodPressureSystolic,BloodPressureDiastolic,Pulse,VisitStatus
0,202,840,29,2019-03-19,2019-03-13 07:59:24.000,10,Physical,188.0,144.143427,83.044920,No Show
9,726,878,16,2019-04-04,2019-03-10 15:52:39.962,9,Telemedicine,183.0,122.982498,68.800091,No Show
38,506,890,15,2019-01-24,2019-01-21 05:07:43.641,10,Telemedicine,184.0,147.093192,71.160985,No Show
67,504,888,13,2019-01-22,2019-01-09 23:52:38.598,8,Telemedicine,185.0,154.745416,75.362150,No Show
70,509,893,2,2019-01-27,2019-01-26 05:11:07.934,5,Telemedicine,183.0,150.514924,78.979142,No Show
...,...,...,...,...,...,...,...,...,...,...,...
922,483,867,15,2019-01-01,2018-12-04 12:16:32.105,6,New,186.0,140.252935,88.801153,Canceled
934,482,866,14,2019-05-04,2019-04-13 07:54:49.580,5,New,190.0,124.736359,69.731779,Canceled
942,392,617,4,2019-02-03,2019-02-01 02:50:08.377,7,Telemedicine,185.0,127.419321,84.645360,Canceled
945,788,873,1,2019-03-27,2019-03-10 17:19:48.264,5,Telemedicine,187.0,126.695141,70.049167,Canceled
946,703,855,36,2019-03-12,2019-02-19 02:27:52.664,10,Follow Up,182.0,140.703502,73.380812,Canceled

VisitID                   101
PatientMRN                101
ProviderID                101
DateofVisit               101
DateScheduled             101
VisitDepartmentID         101
VisitType                 101
BloodPressureSystolic     101
BloodPressureDiastolic    101
Pulse                     101
VisitStatus               101
dtype: int64

In [148]:
## Q50. Which departmentID has maximum number of visits scheduled.

#Importing Counter and linkinf the dataframe
from collections import Counter
df = pd.read_excel('HospitalDatabase.xlsx', sheet_name = 'AmbulatoryVisits')

#Finding the DepartmentID with maximum number of visits scheduled
entry = df['VisitDepartmentID'].tolist()
id_counts = Counter(entry)
most_common_id = id_counts.most_common(1)[0][0]

# Displaying the result
print(f'The Department ID with maximum number of scheduled visits is {most_common_id}.')

The Department ID with maximum number of scheduled visits is 11.

In [149]:
## Q50 Continued
## Further Details - This gives the list of all the department ID's with the number of visits scheduled

df = pd.read_excel("HospitalDatabase.xlsx","AmbulatoryVisits",usecols = ["VisitDepartmentID"])
df.VisitDepartmentID.value_counts()

# Department ID 11 has the maximum number of visits scheduled (102).

11    102
10    100
12     95
8      93
7      93
6      92
5      92
9      79
3      51
4      51
2      51
1      51
Name: VisitDepartmentID, dtype: int64